{% extends 'core/base.html' %}
{% block title %}
Historia rezerwacji strefy {{ name }}
{% endblock %}
{% block map %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

{% if (airspace.coordinates is defined) and airspace.coordinates[0] %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap&libraries=&v=weekly" async></script>

	<script>
		function initMap() {
			  const map = new google.maps.Map(document.getElementById("map"), {
				      zoom: 8,
				  center: { lat: {{ airspace.coordinates[0].lat }}, lng: {{ airspace.coordinates[0].lon }} },
				      mapTypeId: "terrain",
				    });
			  const airspaceCoords = [
				  	{% for c in airspace.coordinates %}
				  		{ lat: {{ c.lat }}, lng: {{ c.lon }} },
				  	{% endfor %}
				    ];
			  const airspace = new google.maps.Polygon({
				      paths: airspaceCoords,
				      strokeColor: "#FF0000",
				      strokeOpacity: 0.8,
				      strokeWeight: 2,
				      fillColor: "#FF0000",
				      fillOpacity: 0.35,
				    });
			  airspace.setMap(map);
		}
	</script>
{% endif %}

{% endblock %}
{% block content %}
<h1>Historyczne rezerwacje strefy powietrznej {{ name }}</h1>

<div id="map" style="position:static !important;"></div>
{% if (reservations is defined) and reservations %}
<table class="table table-striped">
	<tr><th scope="col">Typ</th><th scope="col">Desygnator</th><th scope="col">Okres rezerwacji</th><th scope="col">Zakres wysokości</th><th scope="col">Uwagi</th><th scope="col">Status</th></tr>
{% for r in reservations.items %}
	<tr><td>{{ r.airspace.typ }}</td><td>{{ r.airspace.designator }}</td><td>{{ r.start }}Z - {{ r.end }}Z </td><td>{{r.lower_altitude }}-{{ r.upper_altitude }}{{ r.altitude_unit }}</td><td>{{ r.remarks }}</td><td>{{ r.status.name }}</td></tr>
{% endfor %}
</table>
	<nav aria-label="Nawigacja strony">
		<ul class="pagination justify-content-center">
			{% if reservations.has_prev %} <li class="page-item"><a class="page-link" href="{{ url_for('core_bp.airspace_reservations',page=reservations.prev_num,name=name) }}" ><span class="meta-nav">&larr;</span> Nowsze dane</a></li> {% else %}
				<li class="page-item disabled"><a class="page-link" href="#" ><span class="meta-nav">&larr;</span> Nowsze dane</a></li> {% endif %}
			<li class="page-item disabled"> <a class="page-link" href="#" ><span class="meta-nav">...</span></a> </li>
			{% if reservations.has_next %} <li class="page-item"> <a class="page-link" href="{{ url_for('core_bp.airspace_reservations',page=reservations.next_num,name=name) }}" >Starsze dane <span class="meta-nav">&rarr;</span></a> </li> {% else %}
			<li class="page-item disabled"> <a class="page-link" href="#" >Starsze dane <span class="meta-nav">&rarr;</span></a> </li> {% endif %}
		</ul>
	</nav>
<p><small>*Źródło UUP publikowany przez PANSA, lokalne dane aktualizowane co 30 minut <br>*Przed rozpoczęciem lotów zawsze potwierdź zajętość stref w FIS
<ul>
	<li>UAV/BSP - UNMANNED AERIAL VEHICLE/BEZZALOGOWY STATEK POWIETRZNY</li>
	<li>RPA - REMOTELY PILOTED AIRCRAFT/ZDALNIE STEROWANE BEZZALOGOWE STATKI POWIETRZNE</li>
	<li>/W - W PRZYPADKU KONFLIKTU ZE STRUKTURA Z PRZYZNANYM PRIORYTETEM ZEZWOLENIE JEST WYDAWANE WARUNKOWO /W - CONDITIONAL PERMISSION IN CASE OF A CONFLICT WITH AN AREA HAVING A PRIORITY</li>
	<li>CLN - STREFA KOLIZYJNA - PATRZ AIP ENR 2.2.2-2 PUNKT 4 / CONFLICT AREA - SEE AIP ENR 2.2.2-2 POINT 4</li>
</ul>
</small>
</p>
{% else %}
Brak danych
{% endif %}
{% endblock %}

