{% extends 'core/base.html' %}
{% block title %}
Lista zarchiwizowanych stref powietrznych
{% endblock %}
{% block content %}
<h1>Lista zarchiwizowanych stref powietrznych</h1>
<p>Strona pozwala sprawdzić archiwalne informacje dotyczące stref, dane na których bazuje strona gromadzone są od dnia 25 marca 2021.</p>
{% if (spaces is defined) and spaces %}
{% for s in spaces %}
<h2>{{ s }}</h2>
<div class="row">
	{% for designator in spaces[s] %}
	<div class="col-md-1 m-2"><a href="{{ url_for('core_bp.airspace_reservations',name=designator) }}"><button type="button" class="btn btn-outline-info">{{ designator }}</button></a></div>
	{% endfor %}
</div>
{% endfor %}
{% else %}
Brak danych
{% endif %}
{% endblock %}

