{% extends 'core/base.html' %}
{% block content %}
<h1>Archiwalne dane z UUP airspace.pansa.pl</h1>
<h2>Status projektu</h2>
<p>W chwili obecnej:
 <ul>
	 <li>przygotowałem podstawy szablonu, który za jakiś czas zostanie dostosowany do aplikacji,</li>
	 <li>gromadzone są dane z UUP, aktualizacje lokalnej bazy danych robione są w interwale 15 minutowym,</li>
 	 <li>można wyświetlać dane z wewnętrznej bazy danych w formacie GET-em w formacie /rok/miesiąc/dzień/,</li>
 </ul>
 <h2>Zarchiwizowane zapisy UUP</h2>
 <ul>
 {% for day in days %}
 	<li><a href="{{ url_for('core_bp.day_display',year=day.start.year,month=day.start.month,day=day.start.day) }}">{{ day.start.year }}/{{ day.start.month }}/{{ day.start.day }}</a></li>
 {% endfor %}
 </ul>
</p>
{% endblock %}
