{% extends 'core/base.html' %}
{% block content %}
<h1>Stan stref powietrznych z dnia {{ reservations[0].start.year }}-{{ reservations[0].start.month }}-{{ reservations[0].start.day }}</h1>
<h2>Strefy aktywowane*</h2>
<table class="table table-striped">
	<tr><th scope="col">Typ</th><th scope="col">Desygnata</th><th scope="col">Okres rezerwacji</th><th scope="col">Zakres wysokości</th><th scope="col">Uwagi</th><th scope="col">Status</th></tr>
{% for r in reservations %}
	<tr><td>{{ r.airspace.typ }}</td><td>{{ r.airspace.designator }}</td><td>{{ r.start }} - {{ r.end }} </td><td>{{r.lower_altitude }}-{{ r.upper_altitude }}{{ r.altitude_unit }}</td><td>{{ r.remarks }}</td><td>{{ r.status.name }}</td></tr>
{% endfor %}
</table>
<h2>Strefy zarezerwowane, bez potwierdzenia aktywacji*</h2>
<table class="table table-striped" > 
	<tr><th scope="col">Typ</th><th cope="col">Desygnata</th><th scope="col">Okres rezerwacji</th><th scope="col">Zakres wysokości</th><th scope="col">Uwagi</th><th scope="col">Status</th></tr>
{% for r in other %}
<tr><td>{{ r.airspace.typ }}</td><td>{{ r.airspace.designator }}</td><td>{{ r.start }} - {{ r.end }} </td><td>{{r.lower_altitude }}-{{ r.upper_altitude }}{{ r.altitude_unit }}</td><td>{{ r.remarks }}</td><td>{{ r.status.name }}</td></tr>
{% endfor %}
</table>

<p>*Źródło UUP airspace.pansa.pl, dane aktualizowane co 15 minut
{% endblock %}

